body {
	background-image: url(../images/jot.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

h1 {
	text-align: center;
	font-family: Roboto,sans-serif;
	font-size: 56px;
	font-weight: lighter;
	color: #425058;
}

#slogan {
	text-align: center;
	font-family: Roboto,sans-serif;
	font-size: 24px;
	font-weight: lighter;
	color: #425058;
}

p {
	display: block;
	margin: 300px;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	font-family: Roboto,sans-serif;
	font-size: 18px;
	font-weight: lighter;
	line-height: 25px;
	color: #425058;
}

.info { 
	text-align: left;
   // margin-left: 80px;
}

.invite {
	text-align: left;
	display: block;
	font-size: 24px;
	margin-left: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 40px;
}


section {
	display: block;
	margin-top: 180px;
	margin-bottom: 0px;
	background-color: #f6f6f6;
}


